/*
 Theme Name: Astra Child
 Theme URI: https://wpastra.com/
 Description: Astra theme
 Author: Brainstorm Force
 Author URI: https://wpastra.com/about/
 Template: Astra
 Version: 2.4.0
*/

/* =Theme customization starts here
------------------------------------------------------------------------------------------------------------*/
.site-title, .site-title a {
	color: #FF0000;
	opacity: 1;
}

body.has-header-image .site-title about
{
	colour: #FF0000;
}

.site-title a
{
	color: red;
}

.content-area 
{
	background-color: #FFEEAA61;
	padding: 1.5em;
	text-align: left;
}

.wrap
{
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.site-header{
	background-color:blue;
}

.entry-title{
	text-decoration:underline;
}

.footer-widgets{
	padding-top:1rem;
}

.gamma widget-title{
	font-weight:bold;
}

.site-about{
	text-align:center;
	padding-bottom:0px;
}

.site-about > a{
	display:none;
}

